extends ../layout/layout.jade

block content
  script(src='/js/editable.js')

  table.table.table-bordered.data-grid
    thead
      tr
        each key in keys
          th=key
    tbody
      each row, rowIndex in rows
        tr
          each key in keys
            td.editable(data-id=rowIndex, data-key=key)=(row && row[key] ? row[key] : '')
        
